@model Burguer

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageUrl" alt="">
        <div class="caption">
            <h2 class="pull-right">@Model.Price.ToString("c")</h2>
            <h3>
                <a asp-controller="Burguer" asp-action="Details" asp-route-id="@Model.BurguerId">@Model.Name</a>
            </h3>
            <p>@Model.Description</p>
        </div>
    </div>
</div>
    }